.anchor-pane {
    -fx-background-color: #e0f7fa; /* Light blue background */
    -fx-padding: 10;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #64b5f6, #42a5f5); /* Gradient background */
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #42a5f5, #2196f3); /* Hover effect */
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #0288d1; /* Blue border color */
    -fx-border-width: 2px;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-padding: 5;
}

#txtReturnDate {
    -fx-background-image: url('dateIcon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-padding: 5px 30px 5px 5px; /* Adjust padding to make space for the icon */
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-font-weight: bold;
}

.message-label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #d32f2f; /* Error message color */
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.bold-label {
    -fx-font-family: "Arial";
    -fx-font-size: 18px; /* Match the font size of SQL IP label */
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-font-weight: bold;
}