AnchorPane {
    -fx-background-color: #e0f7fa; /* Background color from BorrowForm */
}

Button { 
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: linear-gradient(to bottom, #64b5f6, #42a5f5); /* Gradient background */
    -fx-text-fill: white;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-border-color: #0288d1; /* Border color */
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
}

Button:hover {
    -fx-background-color: linear-gradient(to bottom, #42a5f5, #2196f3); /* Hover effect */
}

TextField, DatePicker {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: white;
    -fx-border-color: #0288d1;
    -fx-border-width: 2px;
    -fx-text-fill: #01579b;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-padding: 5px;
}

#messageLabel {
    -fx-text-fill: #d32f2f; /* Error message color */
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-padding: 2px;
}