.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #e0f7fa;
}

#windowTitle {
    -fx-text-fill: #01579b;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

Button, MenuButton, #loginButton, #disconnectButton, #copiesButton { 
    -fx-font-size: 14px;
    -fx-background-color: #bbdefb; /* Light blue button background */
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-prompt-text-fill: #a0a0a0;
    -fx-border-color: #0288d1; /* Blue border color */
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

#loginButton, #disconnectButton, #searchButton, #copiesButton {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
}

#searchButton {
    -fx-background-color: transparent;
}

#loginButton:hover, #disconnectButton:hover {
    -fx-background-color: #90caf9; /* Slightly darker blue on hover */
}

TextField {
    -fx-font-size: 18px;
    -fx-background-color: white;
    -fx-border-color: #0288d1 !important;  /* Blue border color */
    -fx-border-width: 1px;
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-prompt-text-fill: #a0a0a0;
    -fx-padding: 5px 45px 5px 10px; /* top right bottom left */

}

.text-field:focused {
    -fx-border-color: #0288d1 !important;
    -fx-background-color: white !important;
    -fx-effect: dropshadow(gaussian, rgba(2,136,209,0.3), 10, 0, 0, 0) !important;
}



#messageLabel {
    -fx-text-fill: #a30303;
    -fx-font-size: 16px;
    -fx-padding: 2px;
}

TableView {
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #0288d1;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 1);
}

.table-view .column-header {
    -fx-background-color: #bbdefb;
    -fx-text-fill: #01579b;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: #01579b;
}

.table-row-cell:odd {
    -fx-background-color: #e3f2fd;
}

.table-row-cell:hover {
    -fx-background-color: #90caf9;
}

.table-row-cell:selected {
    -fx-background-color: #64b5f6;
    -fx-text-fill: white;
    -fx-table-cell-border-color: #0288d1;
}

.table-view:focused {
    -fx-border-color: #0288d1;
    -fx-background-color: white;
}

.table-view .scroll-bar {
    -fx-background-color: white;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #bbdefb;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #90caf9;
}
