#searchHome {
    -fx-background-color: #e0f7fa; /* Background color from BorrowForm */
    -fx-padding: 10;
}

.label {
    -fx-text-fill: #01579b;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #0288d1;
    -fx-font-size: 14px;
    -fx-border-radius: 0; 
    -fx-background-radius: 0; 
    -fx-padding: 5;
}

.button {
    -fx-background-color: #0288d1;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5 10; 
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #0277bd;
}

.button:pressed {
    -fx-background-color: #01579b;
}

#messageLabel {
    -fx-text-fill: #ff0000;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 3, 2, 0, 0),
                dropshadow(one-pass-box, black, 2, -2, 0, 0),
                dropshadow(one-pass-box, black, 2, 0, 2, 0),
                dropshadow(one-pass-box, black, 2, 0, -2, 0);
    -fx-padding: 2px;
}