#mainPanel {
    -fx-background-color: #e1dcc5;
}

AnchorPane {
    -fx-background-color: #fff;
}

#btnLogOut, #btnPersonalDetails, #btnActiveOrders, #searchButton, #btnLogs { 
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #F2F0E8;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-border-color: #ccc; /* Match the default TextField border color */
    -fx-border-width: 1px; /* Match the default TextField border width */
    -fx-border-radius: 4px; /* Match the default TextField border radius */
    -fx-background-radius: 4px; /* Match the background radius to the border radius */
    -fx-padding: 5px; /* Add padding to match the TextField */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}

MenuButton {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #F2F0E8;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-border-color: #ccc; /* Match the default TextField border color */
    -fx-border-width: 1px; /* Match the default TextField border width */
    -fx-border-radius: 4px; /* Match the default TextField border radius */
    -fx-background-radius: 4px; /* Match the background radius to the border radius */
    -fx-padding: 5px; /* Add padding to match the TextField */
}

#btnNotifications{
    -fx-background-color: #e1dcc5;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #e1dcc5;
}

TextField {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-prompt-text-fill: #a0a0a0;
    -fx-padding: 0 50px 0 10px; /* Add right padding to stop text before the button */
}

#labelNotifications {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: #000000;
    -fx-padding: 5px;
}

#btnCloseNotifications {
    -fx-background-color: transparent;
}

TextField:focused {
    -fx-border-color: #ccc; /* Remove blue focus border */
    -fx-background-color: #fff; /* Ensure background color remains white */
}

#searchButton {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
}

#messageLabel {
    -fx-text-fill: #a30303;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-padding: 2px;
}

TableView {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #F2F0E8;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

TableView:focused {
    -fx-border-color: #ccc;
}

.table-row-cell:selected {
    -fx-background-color: #838383; /* Change background color when row is clicked */
    -fx-table-cell-border-color: #838383; /* Ensure column dividers retain the desired color */
    -fx-background-insets: 0; /* Remove the default padding */
    -fx-text-fill: #000000
}


