AnchorPane {
    -fx-background-color: #e0f7fa; /* Light blue background */
}

Button, MenuButton, #loginButton, #disconnectButton, #copiesButton { 
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #bbdefb; /* Light blue button background */
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-prompt-text-fill: #a0a0a0;
    -fx-border-color: #0288d1; /* Blue border color */
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

#loginButton, #disconnectButton, #searchButton, #copiesButton {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}

#loginButton:hover, #disconnectButton:hover {
    -fx-background-color: #90caf9; /* Slightly darker blue on hover */
}

TextField {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: white;
    -fx-border-color: #0288d1; /* Blue border color */
    -fx-border-width: 2px;
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-prompt-text-fill: #a0a0a0;
    -fx-padding: 5px;
}

TextField:focused {
    -fx-border-color: #ccc; /* Remove blue focus border */
    -fx-background-color: #fff; /* Ensure background color remains white */
}

#searchButton {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 1);
}

#messageLabel {
    -fx-text-fill: #a30303;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-padding: 2px;
}

TableView {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: #F2F0E8;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

TableView:focused {
    -fx-border-color: #ccc;
}

.table-row-cell:selected {
    -fx-background-color: #838383; /* Change background color when row is clicked */
    -fx-table-cell-border-color: #838383; /* Ensure column dividers retain the desired color */
    -fx-background-insets: 0; /* Remove the default padding */
    -fx-text-fill: #000000
}
