.anchor-pane {
    -fx-background-color: #e0f7fa; /* Light blue background */
}

.label {
    -fx-text-fill: #0277bd; /* Dark blue text color */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #0288d1; /* Blue button background */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.text-field {
    -fx-background-color: #b3e5fc; /* Light blue text field background */
    -fx-text-fill: #01579b; /* Dark blue text color */
    -fx-font-size: 14px;
    -fx-border-color: #0288d1; /* Blue border */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}