Button {
    -fx-background-color: linear-gradient(to bottom, #4a90e2, #007aff);
    -fx-text-fill: white;
    -fx-font-size: 12px; 
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #005bb5;
    -fx-border-width: 2px;
    -fx-min-width: 80px;
    -fx-min-height: 30px;
}

#btnShow:hover, #btnDisconnect:hover, #btnSend:hover, #btnDetails:hover {
    -fx-background-color: linear-gradient(to bottom, #007aff, #4a90e2);
}

#idtxt {
    -fx-background-color: #e0f7fa;
    -fx-text-fill: #007aff;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-color: #007aff;
    -fx-border-width: 2px;
    -fx-border-radius: 0; /* Make the TextField square */
}

Label {
    -fx-font-weight: bold; /* Make the label text bold */
}

#searchHome {
    -fx-background-color: linear-gradient(to bottom, #e0f7fa, #80deea);
}

#messageLabel {
    -fx-text-fill: #ff0000;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-effect: dropshadow(one-pass-box, black, 3, 2, 0, 0),
                dropshadow(one-pass-box, black, 2, -2, 0, 0),
                dropshadow(one-pass-box, black, 2, 0, 2, 0),
                dropshadow(one-pass-box, black, 2, 0, -2, 0);
    -fx-padding: 2px;
}